.App {
  text-align: center;
}
img{
  height:400px;
}
.name{
  text-align:left;
  margin-left: 150px;
   color:rgba(255, 94, 0, 0.849);
}
.bio{
  text-align:right;
  margin-right: 180px;
  margin-top: -10px;
 color: rgb(99, 99, 221);
}
h2{
  margin-right: 300px;
  color : rgb(231, 231, 63);
  margin-top: -19px;
}
p{
  text-align: left;
  margin-top: 20px;
  margin-left: 40px;
  
}
button{
  height: 25px;
  width: 100px;
  border: none;
  color: black;
}